<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>如何使用麦克风</title>
</head>
<body>
<h1>如何使用麦克风</h1>
<div id="app">
    <div>
        <!-- ref="audio" 给audio 起了一个引用的名字 audioDevice -->
        <audio controls autoplay ref="audioDevice"></audio>
    </div>
    <div>
        <select v-model="selectedAudioDeviceIndex">
            <option v-for="(device,index) in audioInputDevices" :value="index">{{device.label}}</option>
        </select>
    </div>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="main.js"></script>
</body>
</html>